<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://outlookaddinadal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>outlookaddinadal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>outlookaddinadal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$outlookaddinadal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=xe0zm2pf9k.database.windows.net;Initial Catalog=outlookaddin;Persist Security Info=True;User ID=Patric@xe0zm2pf9k;Password=Lisa0910!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="outlook_addin.Models.ApplicationDbContext, outlook_addin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>imenja.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://imenja.onmicrosoft.com/WebApp-outlookaddinadal.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>16d805b1-7a99-43ab-babd-e4e9e83639ec</ADClientAPPID>
    <ADClientPassword>RG82ePU8pl0ujGB1deZqp3hwoD/43VfddvJgiMoF7Fg=</ADClientPassword>
    <ADReplyUrl>https://outlookaddinadal.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>c276523f-0c5c-475b-90e0-5885d3582d11</ADTenantId>
    <ADPostLogoutRedirectUri>https://outlookaddinadal.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=xe0zm2pf9k.database.windows.net;Initial Catalog=outlookaddin;Persist Security Info=True;User ID=Patric@xe0zm2pf9k;Password=Lisa0910!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>